<div class="container">
    <div>
    <h2>Ajouter une classe </h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Classe</label>
        <input type="text" [(ngModel)]="newClasse.idClasse"
        name="idClasse" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Numero de la classe</label>
        <input type="text"[(ngModel)]= "newClasse.numClasse"
        name="numClasse" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Nombre max d'enfants</label>
        <input type="number" [(ngModel)]= "newClasse.nbmaxEnfant"
        name="nbmaxEnfant" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Salle</label>
        <input type="text" [(ngModel)]= "newClasse.salle"
        name="salle" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addClasse()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>