<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Cin</th>

            <th>nom</th>
            <th>Prenom</th>
            <th>Date</th>
            <th>adresse</th>
            <th>email</th>
            <th>tel</th>
            <th>diplome</th>



          </tr>
          <tbody *ngFor="let e of enseignant">
            <tr>
              <td>{{ e.cin }}</td>
              <td>{{ e.nomEns }}</td>
              <td>{{ e.prenomEns }}</td>
              <td>{{ e.dateNaissEns }}</td>
              <td>{{ e.adresse }}</td>
              <td>{{ e.email }}</td>
              <td>{{ e.tel }}</td>
              <td>{{ e.diplome }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>