<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Numero de la classe</th> <th>nombre max d'enfants</th> <th>Salle</th> </tr>
    <tbody *ngFor="let classe of classes">
    <tr >
    <td>{{classe.idClasse}}</td>
    <td>{{classe.numClasse}}</td>
    <td>{{classe.nbmaxEnfant}}</td>
    <td>{{classe.salle}}</td>
    <td><a class="btn btn-success" [routerLink]="['/updateClasse',classe.idClasse]">Modifier</a></td>
    <td><a class="btn btn-danger" (click)="supprimerClasse(classe)">Supprimer</a></td> 

    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
